node-red-flows/AlexaSpeak.txt
[{"id":"616a147e.9afb6c","type":"tab","label":"Alexa Speak","disabled":false,"info":""},{"id":"a65fd0b2.c8dea","type":"ui_text_input","z":"616a147e.9afb6c","name":"","label":"Hello","tooltip":"","group":"326ce2f.8d02d1e","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"","x":410,"y":180,"wires":[["dc657f0d.0c93e"]]},{"id":"dc657f0d.0c93e","type":"change","z":"616a147e.9afb6c","name":"","rules":[{"t":"set","p":"textToSpeak","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[[]]},{"id":"9e48fbc9.4689b8","type":"ui_button","z":"616a147e.9afb6c","name":"","group":"326ce2f.8d02d1e","order":4,"width":0,"height":0,"passthru":false,"label":"Speak","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":340,"wires":[["28655ba0.1963b4"]]},{"id":"6a7e215e.3657a","type":"change","z":"616a147e.9afb6c","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":120,"wires":[[]]},{"id":"1bc89b6b.1579d5","type":"change","z":"616a147e.9afb6c","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.accountName[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["6cc46d56.1244a4"]]},{"id":"6cc46d56.1244a4","type":"ui_dropdown","z":"616a147e.9afb6c","name":"","label":"Device","tooltip":"","place":"","group":"326ce2f.8d02d1e","order":1,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":530,"y":120,"wires":[["6a7e215e.3657a"]]},{"id":"eb184d38.3de8e","type":"ui_button","z":"616a147e.9afb6c","name":"","group":"326ce2f.8d02d1e","order":2,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":110,"y":60,"wires":[["6f483b7d.f1a6f4"]]},{"id":"28655ba0.1963b4","type":"alexa-remote-routine","z":"616a147e.9afb6c","name":"","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"flow","value":"textToSpeak"},"devices":{"type":"flow","value":"device"}}},"x":620,"y":340,"wires":[[]]},{"id":"6f483b7d.f1a6f4","type":"alexa-remote-echo","z":"616a147e.9afb6c","name":"","account":"6b3e2dbd.8840e4","config":{"option":"get","value":{"what":"device","device":{"type":"str","value":"ALEXA_ALL_DSN"}}},"x":270,"y":60,"wires":[["1bc89b6b.1579d5"]]},{"id":"ba659fff.15e2c","type":"inject","z":"616a147e.9afb6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["9e48fbc9.4689b8"]]},{"id":"1afdd845.802948","type":"alexa-remote-routine","z":"616a147e.9afb6c","name":"","account":"6b3e2dbd.8840e4","routineNode":{"type":"skill","payload":{"skill":{"type":"str","value":"amzn1.ask.skill.198ec2dd-eb1c-49b5-95b6-4abad6a4cb2c"},"device":{"type":"str","value":"G090LF118226164R"}}},"x":410,"y":540,"wires":[[]]},{"id":"a158d7f7.190f88","type":"inject","z":"616a147e.9afb6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["1afdd845.802948"]]},{"id":"2bbd3d51.10e852","type":"inject","z":"616a147e.9afb6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":640,"wires":[["f97feee6.a744b"]]},{"id":"f97feee6.a744b","type":"template","z":"616a147e.9afb6c","name":"Good Morning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n<s><voice name=\"Celine\">Bonjour!</voice></s>\n<s><voice name=\"Hans\">Guten Morgen!</voice></s>\n<s><voice name=\"Amy\">Good Morning!</voice></s>\n<s><voice name=\"Giorgio\">Buongiorno!</voice></s>\n<s><voice name=\"Enrique\">¡Buenos días!</voice></s>\n</speak>","output":"str","x":300,"y":640,"wires":[["c25072e3.a3586"]]},{"id":"356d4dd0.2a80f2","type":"template","z":"616a147e.9afb6c","name":"Effects","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n<prosody volume=\"x-loud\">This is louder.</prosody>\n<prosody volume=\"x-soft\">This is quieter.</prosody>\n<prosody rate=\"50%\">This is slow.</prosody>\n<prosody rate=\"150%\">This is fast.</prosody>\n<prosody pitch=\"-33.3%\">This is deep.</prosody>\n<prosody pitch=\"+50%\">This is high.</prosody>\n<amazon:effect name=\"whispered\">This is whispering.</amazon:effect>\n</speak>","output":"str","x":270,"y":680,"wires":[["c25072e3.a3586"]]},{"id":"868fb295.b45fc","type":"inject","z":"616a147e.9afb6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":680,"wires":[["356d4dd0.2a80f2"]]},{"id":"c25072e3.a3586","type":"alexa-remote-routine","z":"616a147e.9afb6c","name":"","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":500,"y":680,"wires":[[]]},{"id":"b1bb45eb.179438","type":"template","z":"616a147e.9afb6c","name":"Time and Date","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n    Time 08:30.\n    Duration <say-as interpret-as=\"time\">12'3\"</say-as>.\n    Date <say-as interpret-as=\"date\" format=\"dmy\">28/02/2020</say-as>.\n</speak>","output":"str","x":300,"y":720,"wires":[["c25072e3.a3586"]]},{"id":"98cf61d6.b00ea","type":"inject","z":"616a147e.9afb6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":720,"wires":[["b1bb45eb.179438"]]},{"id":"abe9e013.01f18","type":"comment","z":"616a147e.9afb6c","name":"The Nodes Below are the useful Ones for Us","info":"","x":250,"y":440,"wires":[]},{"id":"e79146c.42da8b8","type":"alexa-remote-routine","z":"616a147e.9afb6c","name":"","account":"6b3e2dbd.8840e4","routineNode":{"type":"pushNotification","payload":{"text":{"type":"str","value":"Hello from Alexa Remote!"},"title":{"type":"str","value":"Node-RED"}}},"x":1070,"y":480,"wires":[[]]},{"id":"390ed149.b48e0e","type":"inject","z":"616a147e.9afb6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":460,"wires":[["e79146c.42da8b8"]]},{"id":"79acc756.5db998","type":"comment","z":"616a147e.9afb6c","name":"This one sends notification to phone","info":"","x":900,"y":420,"wires":[]},{"id":"326ce2f.8d02d1e","type":"ui_group","name":"Alexa Speak","tab":"fc4efe2d.639d2","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b3e2dbd.8840e4","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"fc4efe2d.639d2","type":"ui_tab","name":"Alexa Speak","icon":"speaker","order":2}]