node-red-flows/CompleteFlow.txt
[{"id":"d8e7e874.1612c8","type":"tab","label":"CompleteFlow","disabled":false,"info":""},{"id":"c31a6d39.98c78","type":"function","z":"d8e7e874.1612c8","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://localhost:3000/add_incident\" ;\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n    \"device_id\" : 322,\n    \"incident_type\": \"Anger\"\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["1b7544d5.0b9fdb"]]},{"id":"1b7544d5.0b9fdb","type":"http request","z":"d8e7e874.1612c8","name":"Save to DB","method":"use","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000/add_incident","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":420,"wires":[["802378d0.0d75b8"]]},{"id":"48447ee6.ce849","type":"inject","z":"d8e7e874.1612c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":560,"y":520,"wires":[["c31a6d39.98c78"]]},{"id":"802378d0.0d75b8","type":"debug","z":"d8e7e874.1612c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":420,"wires":[]}]