node-red-flows/CompleteAlexaFlow.txt
[{"id":"d8e7e874.1612c8","type":"tab","label":"CompleteFlow","disabled":false,"info":""},{"id":"b8e1e95e.dc0ce8","type":"mqtt in","z":"d8e7e874.1612c8","name":"Get_Incidents","topic":"incidents/#","qos":"1","datatype":"json","broker":"5600b28c.6067ec","x":150,"y":520,"wires":[["fbf80f3f.299a8"]]},{"id":"f5600930.d59a58","type":"switch","z":"d8e7e874.1612c8","name":"Seperate Position Anger","property":"payload.incident_type","propertyType":"msg","rules":[{"t":"eq","v":"Position","vt":"str"},{"t":"eq","v":"Anger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":740,"wires":[["e0b338bb.187c78"],["61062a40.8a2d04"]]},{"id":"e0b338bb.187c78","type":"template","z":"d8e7e874.1612c8","name":"Alert Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n\n<s><voice name=\"Amy\">Please do not move any device without asking the manager!</voice></s>\n<s><voice name=\"Matthew\">Please do not move any device without asking the manager!!</voice></s>\n\n</speak>","output":"str","x":940,"y":700,"wires":[["cea40df0.4fe6c"]]},{"id":"cea40df0.4fe6c","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"Alert","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":1110,"y":700,"wires":[[]]},{"id":"61062a40.8a2d04","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"Play Peaceful Sound","account":"6b3e2dbd.8840e4","routineNode":{"type":"skill","payload":{"skill":{"type":"str","value":"amzn1.ask.skill.284938f0-5999-4a82-b379-867a94bc9a39"},"device":{"type":"str","value":"G090LF118226164R"}}},"x":940,"y":780,"wires":[[]]},{"id":"b4e3be83.73c26","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"Manager Echo Dot","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":910,"y":300,"wires":[[]]},{"id":"d95d1f1c.22135","type":"template","z":"d8e7e874.1612c8","name":"Alert Position","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n\n<s><voice name=\"Emma\">Please check on device {{payload.device_id}}, there is a new incident reported of type {{payload.incident_type}}</voice></s>\n\n\n</speak>","output":"str","x":710,"y":300,"wires":[["b4e3be83.73c26"]]},{"id":"9cf59985.a2f248","type":"comment","z":"d8e7e874.1612c8","name":"For Manager Echo Dot","info":"","x":820,"y":360,"wires":[]},{"id":"954ff25a.0f7c3","type":"comment","z":"d8e7e874.1612c8","name":"For User Echo Dot","info":"","x":730,"y":680,"wires":[]},{"id":"123987e3.b81fe8","type":"function","z":"d8e7e874.1612c8","name":"Test Anger","func":"msg.payload = {\n    \"device_id\":322,\n    \"incident_type\": \"Anger\"\n}\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":340,"wires":[[]]},{"id":"d03bad02.9b1cd","type":"inject","z":"d8e7e874.1612c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["c8f2aad1.498e08"]]},{"id":"c8f2aad1.498e08","type":"function","z":"d8e7e874.1612c8","name":"Test Position","func":"msg.payload = {\n    \"device_id\":322,\n    \"incident_type\": \"Position\"\n}\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":300,"wires":[[]]},{"id":"cb4bb88d.df8d68","type":"mqtt in","z":"d8e7e874.1612c8","name":"","topic":"configure/alexa","qos":"0","datatype":"auto","broker":"5600b28c.6067ec","x":400,"y":120,"wires":[["977cc26f.2f7fc"]]},{"id":"5bca2c40.cad5d4","type":"debug","z":"d8e7e874.1612c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"977cc26f.2f7fc","type":"function","z":"d8e7e874.1612c8","name":"Set Global Conf","func":"configure = {\n    \"alexa_allow\": msg.payload\n}\nglobal.set(\"configure\", configure);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["5bca2c40.cad5d4"]]},{"id":"fbf80f3f.299a8","type":"function","z":"d8e7e874.1612c8","name":"Get Global Conf","func":"var configure = global.get(\"configure\");\nif(configure.alexa_allow ==\"not_allow\"){\n    console.log(\"inside\");\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[["a2842f90.e45c4"]]},{"id":"a2842f90.e45c4","type":"switch","z":"d8e7e874.1612c8","name":"Check Alexa Allowed","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":520,"wires":[["f5600930.d59a58","d95d1f1c.22135"]]},{"id":"19692259.62145e","type":"comment","z":"d8e7e874.1612c8","name":"Updates Configuration from Flutter","info":"","x":640,"y":60,"wires":[]},{"id":"5600b28c.6067ec","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b3e2dbd.8840e4","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"}]