node-red-flows/CompleteAlexaFlow.txt
[{"id":"d8e7e874.1612c8","type":"tab","label":"CompleteFlow","disabled":false,"info":""},{"id":"c31a6d39.98c78","type":"function","z":"d8e7e874.1612c8","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://localhost:3000/add_incident\" ;\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["1b7544d5.0b9fdb"]]},{"id":"1b7544d5.0b9fdb","type":"http request","z":"d8e7e874.1612c8","name":"Save to DB","method":"use","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000/add_incident","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":80,"wires":[["802378d0.0d75b8"]]},{"id":"802378d0.0d75b8","type":"debug","z":"d8e7e874.1612c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":80,"wires":[]},{"id":"c922e684.d4d008","type":"http in","z":"d8e7e874.1612c8","name":"From RPi","url":"/inform_incident","method":"post","upload":false,"swaggerDoc":"","x":230,"y":100,"wires":[["51f9772d.d26cf8","c31a6d39.98c78","a4be82e5.3465e"]]},{"id":"51f9772d.d26cf8","type":"debug","z":"d8e7e874.1612c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":40,"wires":[]},{"id":"a4be82e5.3465e","type":"template","z":"d8e7e874.1612c8","name":"Stay Calm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n\n<s><voice name=\"Amy\">Please Stay Calm!</voice></s>\n<amazon:effect name=\"whispered\">Your patients are under your care.</amazon:effect>\n\n</speak>","output":"str","x":310,"y":180,"wires":[["44c79c24.244b44"]]},{"id":"44c79c24.244b44","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":500,"y":180,"wires":[[]]},{"id":"ce581f57.d84d8","type":"inject","z":"d8e7e874.1612c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["a4be82e5.3465e"]]},{"id":"b8e1e95e.dc0ce8","type":"mqtt in","z":"d8e7e874.1612c8","name":"Get_Incidents","topic":"incidents/#","qos":"1","datatype":"json","broker":"5600b28c.6067ec","x":310,"y":580,"wires":[["d95d1f1c.22135","f5600930.d59a58"]]},{"id":"f5600930.d59a58","type":"switch","z":"d8e7e874.1612c8","name":"Seperate Position Anger","property":"payload.incident_type","propertyType":"msg","rules":[{"t":"eq","v":"Position","vt":"str"},{"t":"eq","v":"Anger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":680,"wires":[["e0b338bb.187c78"],["61062a40.8a2d04"]]},{"id":"e0b338bb.187c78","type":"template","z":"d8e7e874.1612c8","name":"Alert Position","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n\n<s><voice name=\"Amy\">Please do not move any device without asking the manager!</voice></s>\n<s><voice name=\"Matthew\">Please do not move any device without asking the manager!!</voice></s>\n\n</speak>","output":"str","x":790,"y":620,"wires":[["cea40df0.4fe6c"]]},{"id":"cea40df0.4fe6c","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"Alert","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":950,"y":620,"wires":[[]]},{"id":"61062a40.8a2d04","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"Play Peaceful Sound","account":"6b3e2dbd.8840e4","routineNode":{"type":"skill","payload":{"skill":{"type":"str","value":"amzn1.ask.skill.284938f0-5999-4a82-b379-867a94bc9a39"},"device":{"type":"str","value":"G090LF118226164R"}}},"x":880,"y":760,"wires":[[]]},{"id":"b4e3be83.73c26","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"Manager Echo Dot","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":770,"y":340,"wires":[[]]},{"id":"d95d1f1c.22135","type":"template","z":"d8e7e874.1612c8","name":"Alert Position","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n\n<s><voice name=\"Emma\">Please check on device {{payload.device_id}}, there is a new incident reported of type {{payload.incident_type}}</voice></s>\n\n\n</speak>","output":"str","x":510,"y":340,"wires":[["b4e3be83.73c26"]]},{"id":"9cf59985.a2f248","type":"comment","z":"d8e7e874.1612c8","name":"For Manager Echo Dot","info":"","x":640,"y":300,"wires":[]},{"id":"954ff25a.0f7c3","type":"comment","z":"d8e7e874.1612c8","name":"For User Echo Dot","info":"","x":570,"y":600,"wires":[]},{"id":"123987e3.b81fe8","type":"function","z":"d8e7e874.1612c8","name":"Test Anger","func":"msg.payload = {\n    \"device_id\":322,\n    \"incident_type\": \"Anger\"\n}\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":400,"wires":[[]]},{"id":"d03bad02.9b1cd","type":"inject","z":"d8e7e874.1612c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["123987e3.b81fe8"]]},{"id":"c8f2aad1.498e08","type":"function","z":"d8e7e874.1612c8","name":"Test Position","func":"msg.payload = {\n    \"device_id\":322,\n    \"incident_type\": \"Position\"\n}\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":460,"wires":[[]]},{"id":"6b3e2dbd.8840e4","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"5600b28c.6067ec","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]