node-red-flows/CompleteFlow.txt
[{"id":"d8e7e874.1612c8","type":"tab","label":"CompleteFlow","disabled":false,"info":""},{"id":"c31a6d39.98c78","type":"function","z":"d8e7e874.1612c8","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://localhost:3000/add_incident\" ;\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["1b7544d5.0b9fdb"]]},{"id":"1b7544d5.0b9fdb","type":"http request","z":"d8e7e874.1612c8","name":"Save to DB","method":"use","ret":"txt","paytoqs":"ignore","url":"http://localhost:3000/add_incident","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":420,"wires":[["802378d0.0d75b8"]]},{"id":"48447ee6.ce849","type":"inject","z":"d8e7e874.1612c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":560,"y":520,"wires":[["c31a6d39.98c78"]]},{"id":"802378d0.0d75b8","type":"debug","z":"d8e7e874.1612c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":420,"wires":[]},{"id":"c922e684.d4d008","type":"http in","z":"d8e7e874.1612c8","name":"From RPi","url":"/inform_incident","method":"post","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["51f9772d.d26cf8","c31a6d39.98c78","a4be82e5.3465e"]]},{"id":"51f9772d.d26cf8","type":"debug","z":"d8e7e874.1612c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":60,"wires":[]},{"id":"a4be82e5.3465e","type":"template","z":"d8e7e874.1612c8","name":"Stay Calm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>    \n\n<s><voice name=\"Amy\">Please Stay Calm!</voice></s>\n<amazon:effect name=\"whispered\">Your patients are under your care.</amazon:effect>\n\n</speak>","output":"str","x":490,"y":680,"wires":[["44c79c24.244b44"]]},{"id":"44c79c24.244b44","type":"alexa-remote-routine","z":"d8e7e874.1612c8","name":"","account":"6b3e2dbd.8840e4","routineNode":{"type":"speak","payload":{"type":"ssml","text":{"type":"msg","value":"payload"},"devices":[]}},"x":700,"y":720,"wires":[[]]},{"id":"6b3e2dbd.8840e4","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","userAgent":"","useWsMqtt":"on","autoInit":"on"}]