node-red-flows/SensorStreamerMotionDetectorFlow.txt
[{"id":"5c6e475e.5f6768","type":"tab","label":"IOT_Proj_Acc","disabled":false,"info":""},{"id":"7b6555ca.5ac8ac","type":"tcp in","z":"5c6e475e.5f6768","name":"","server":"client","host":"192.168.0.104","port":"4242","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":140,"y":140,"wires":[["b4c3e8fa.2cd5a8"]]},{"id":"b4c3e8fa.2cd5a8","type":"function","z":"5c6e475e.5f6768","name":"Parse and detect motion","func":"acc = JSON.parse(msg.payload.toString());\nvar x_diff = Math.abs(acc.accelerometer.value[0] - 0)\nvar y_diff = Math.abs(acc.accelerometer.value[1] - 0)\nvar z_diff = Math.abs(acc.accelerometer.value[2] - 9.73)\n\nif (x_diff > 3 || y_diff > 3 || z_diff > 3){\n    msg.payload = \"moving\";\n}\nelse {\n    msg.payload = \"still\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":140,"wires":[["3aa562f1.64bf7e"]]},{"id":"3aa562f1.64bf7e","type":"switch","z":"5c6e475e.5f6768","name":"If Moving","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"moving","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":140,"wires":[["8b878e03.245f8","142bfb3f.a0af75"]]},{"id":"8b878e03.245f8","type":"debug","z":"5c6e475e.5f6768","name":"FILTERED OUTPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"e68a27f4.19ce48","type":"http request","z":"5c6e475e.5f6768","name":"Send to App Server","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.108:1880/inform_incident","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":360,"wires":[[]]},{"id":"142bfb3f.a0af75","type":"function","z":"5c6e475e.5f6768","name":"","func":"msg.payload = {\n    \"device_id\": 322,\n    \"incident_type\" : \"Position\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":360,"wires":[["e68a27f4.19ce48"]]}]