node-red-flows/SensorStreamerMotionDetectorFlow.txt
[{"id":"5c6e475e.5f6768","type":"tab","label":"IOT_Proj_Acc","disabled":false,"info":""},{"id":"7b6555ca.5ac8ac","type":"tcp in","z":"5c6e475e.5f6768","name":"","server":"client","host":"192.168.0.104","port":"4242","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":210,"y":140,"wires":[["b4c3e8fa.2cd5a8"]]},{"id":"b4c3e8fa.2cd5a8","type":"function","z":"5c6e475e.5f6768","name":"Parse and detect motion","func":"acc = JSON.parse(msg.payload.toString());\nvar x_diff = Math.abs(acc.accelerometer.value[0] - 0)\nvar y_diff = Math.abs(acc.accelerometer.value[1] - 0)\nvar z_diff = Math.abs(acc.accelerometer.value[2] - 9.73)\n\nif (x_diff > 3 || y_diff > 3 || z_diff > 3){\n    msg.payload = \"moving\";\n}\nelse {\n    msg.payload = \"still\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":140,"wires":[["3aa562f1.64bf7e"]]},{"id":"3aa562f1.64bf7e","type":"switch","z":"5c6e475e.5f6768","name":"If Moving","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"moving","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":140,"wires":[["3536b0ac.c0ac"]]},{"id":"8b878e03.245f8","type":"debug","z":"5c6e475e.5f6768","name":"FILTERED OUTPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"e68a27f4.19ce48","type":"http request","z":"5c6e475e.5f6768","name":"Send to App Server","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:8080","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":220,"wires":[["b062f19.859b01"]]},{"id":"b062f19.859b01","type":"http response","z":"5c6e475e.5f6768","name":"","statusCode":"","headers":{},"x":1210,"y":220,"wires":[]},{"id":"a5774c97.c4328","type":"mqtt out","z":"5c6e475e.5f6768","name":"Mqtt-msg-out","topic":"incidents/322","qos":"0","retain":"","broker":"5600b28c.6067ec","x":890,"y":320,"wires":[]},{"id":"3536b0ac.c0ac","type":"function","z":"5c6e475e.5f6768","name":"","func":"msg.payload = {\n    \"device_id\": 322,\n    \"incident_type\":\"Position\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[["a5774c97.c4328","8b878e03.245f8"]]},{"id":"5600b28c.6067ec","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]